.container2 {
    height: 793px;
    border: 3px solid black;
    background-image: url('/src/assets/home_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #pass {
    margin: 25px auto 0;
    display: block;
    width: 250px;
    height: 35px;
    border-radius: 11px;
  }
  
  .mit {
    margin: 10px auto;
    display: block;
    height: 25px;
    width: 87px;
    border-radius: 11px;
  }
  
  .out {
    font-weight: bold;
    font-size: larger;
    background-color: silver;
    border: 2px solid black;
    border-radius: 5px;
    position: fixed;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
  }
  